// Mixins
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin transition($property: all, $duration: 0.3s) {
    transition: $property $duration ease;
}